### Goal of this IPYNB file is to create a table of business name, whether it is still open, number of reviews, as well as star count for each business (row = business, attribute = column)

In [14]:
import pandas as pd
df = pd.read_csv('../../yelpdata/yelp-csv/yelp_academic_dataset_business.csv')
df

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,NaN,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'GoodForMeal': ""{'dessert': False, 'latenight...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"1210 8th Street SW, Unit 220","{'BusinessParking': ""{'garage': False, 'street...",fcXOEZdXYeZqnQ3lGlOXmg,"Local Services, Professional Services, Compute...",Calgary,"{'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ...",1,51.041771,-114.081109,Nucleus Information Service,T2R 1L3,5,2.0,AB
3,"6955 N Durango Dr, Ste 1116","{'BusinessParking': ""{'garage': False, 'street...",f2ZWZPENViL92BrFsIgR6w,"Beauty & Spas, Hair Salons",Las Vegas,"{'Monday': '8:30-20:0', 'Tuesday': '8:30-20:0'...",1,36.287312,-115.289540,Amazing Cuts,89149,116,4.5,NV
4,4 E University Dr,{},6KgGE8B1RsR7jc9R5nuH0Q,"American (Traditional), Restaurants",Tempe,NaN,0,33.422192,-111.939615,Ruby Tuesday,85281,9,2.5,AZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192604,521 St. Catherine Street W,"{'Ambience': ""{'romantic': False, 'intimate': ...",wWV90q48ugyxyXW6gZav8w,"Restaurants, Venezuelan, Latin American",Montréal,NaN,0,45.504597,-73.568456,Arepas,H3B 1A6,15,3.5,QC
192605,244 Victoria Street,{},phSaT3I_y6To1J2OdeFSUQ,"Arts & Entertainment, Performing Arts",Toronto,NaN,1,43.655290,-79.379541,Ed Mirvish Theatre,M5B 1V8,58,4.0,ON
192606,10210 South 50th Pl,NaN,oU6Q3ymg1Qsh1EUI6oQwQg,"Education, Middle Schools & High Schools",Phoenix,"{'Monday': '7:30-17:30', 'Tuesday': '7:30-17:3...",1,33.354284,-111.975538,BASIS Ahwatukee,85044,3,2.5,AZ
192607,"6670 S Tenaya Way, Ste 120, The Body Spa","{'BusinessParking': ""{'garage': False, 'street...",gdiOk0n7DmNE9w8xeHWkvw,"Beauty & Spas, Eyelash Service, Waxing, Esthet...",Las Vegas,"{'Monday': '0:0-0:0', 'Tuesday': '9:0-19:0', '...",1,36.066952,-115.251008,Brows Redefined,89113,15,5.0,NV
192608,"14050 N 83rd Ave, Ste 290",NaN,Rv8s4io4G4mcUpiDbpzy7w,"Professional Services, Wills, Trusts, & Probat...",Peoria,"{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ...",1,33.612226,-112.238145,Affordable Estate Planning,85381,3,5.0,AZ

In [15]:
dfbusinessAB = pd.DataFrame(df[['business_id','stars', 'review_count', 'name', 'is_open']])
dfbusinessAB

,business_id,stars,review_count,name,is_open
0,1SWheh84yJXfytovILXOAQ,3.0,5,Arizona Biltmore Golf Club,0
1,QXAEGFB4oINsVuTFxEYKFQ,2.5,128,Emerald Chinese Restaurant,1
2,fcXOEZdXYeZqnQ3lGlOXmg,2.0,5,Nucleus Information Service,1
3,f2ZWZPENViL92BrFsIgR6w,4.5,116,Amazing Cuts,1
4,6KgGE8B1RsR7jc9R5nuH0Q,2.5,9,Ruby Tuesday,0
...,...,...,...,...,...
192604,wWV90q48ugyxyXW6gZav8w,3.5,15,Arepas,0
192605,phSaT3I_y6To1J2OdeFSUQ,4.0,58,Ed Mirvish Theatre,1
192606,oU6Q3ymg1Qsh1EUI6oQwQg,2.5,3,BASIS Ahwatukee,1
192607,gdiOk0n7DmNE9w8xeHWkvw,5.0,15,Brows Redefined,1
192608,Rv8s4io4G4mcUpiDbpzy7w,5.0,3,Affordable Estate Planning,1

In [16]:
# just prints done
#import numpy as np
#for index, row in dfbusinessAB.iterrows():
#    if (type(row['stars']) is float and np.isnan(row['stars'])):
#        print('garbage present with index1 '+ str(index))
#        print(str(row))
#    if (type(row['review_count']) is float and np.isnan(row['review_count'])):
#        print('garbage present with index2 '+ str(index))
#        print(str(row))
#    if (type(row['name']) is float and np.isnan(row['name'])):
#        print('garbage present with index3 '+ str(index))
#        print(str(row))
#    if (type(row['is_open']) is float and np.isnan(row['is_open'])):
#        print('garbage present with index4 '+ str(index))
#        print(str(row))
#print('done')

In [17]:
dfbusinessAB = dfbusinessAB.dropna();
dfbusinessAB

,business_id,stars,review_count,name,is_open
0,1SWheh84yJXfytovILXOAQ,3.0,5,Arizona Biltmore Golf Club,0
1,QXAEGFB4oINsVuTFxEYKFQ,2.5,128,Emerald Chinese Restaurant,1
2,fcXOEZdXYeZqnQ3lGlOXmg,2.0,5,Nucleus Information Service,1
3,f2ZWZPENViL92BrFsIgR6w,4.5,116,Amazing Cuts,1
4,6KgGE8B1RsR7jc9R5nuH0Q,2.5,9,Ruby Tuesday,0
...,...,...,...,...,...
192604,wWV90q48ugyxyXW6gZav8w,3.5,15,Arepas,0
192605,phSaT3I_y6To1J2OdeFSUQ,4.0,58,Ed Mirvish Theatre,1
192606,oU6Q3ymg1Qsh1EUI6oQwQg,2.5,3,BASIS Ahwatukee,1
192607,gdiOk0n7DmNE9w8xeHWkvw,5.0,15,Brows Redefined,1
192608,Rv8s4io4G4mcUpiDbpzy7w,5.0,3,Affordable Estate Planning,1

In [18]:
dfbusinessAB.rename(columns={'name':'bname', 'is_open':'isOpen'}, inplace=True)
dfbusinessAB.to_csv('businessAB.csv', index=False)

In [19]:
dfbusinessAB

,business_id,stars,review_count,bname,isOpen
0,1SWheh84yJXfytovILXOAQ,3.0,5,Arizona Biltmore Golf Club,0
1,QXAEGFB4oINsVuTFxEYKFQ,2.5,128,Emerald Chinese Restaurant,1
2,fcXOEZdXYeZqnQ3lGlOXmg,2.0,5,Nucleus Information Service,1
3,f2ZWZPENViL92BrFsIgR6w,4.5,116,Amazing Cuts,1
4,6KgGE8B1RsR7jc9R5nuH0Q,2.5,9,Ruby Tuesday,0
...,...,...,...,...,...
192604,wWV90q48ugyxyXW6gZav8w,3.5,15,Arepas,0
192605,phSaT3I_y6To1J2OdeFSUQ,4.0,58,Ed Mirvish Theatre,1
192606,oU6Q3ymg1Qsh1EUI6oQwQg,2.5,3,BASIS Ahwatukee,1
192607,gdiOk0n7DmNE9w8xeHWkvw,5.0,15,Brows Redefined,1
192608,Rv8s4io4G4mcUpiDbpzy7w,5.0,3,Affordable Estate Planning,1